
body{
    background-color:rgb(206, 182, 195) ;
}
header h1{
    text-align: center  ;
    font-size: 60%;
    color:white;

}
.bedroom-logo img{
    width: 20%;
}
.livingroom-logo img{
    width: 20%;
}
.kitchen-logo img{
    width: 20%;
}
nav{
    color:white  ;
    font-size :30px;
    
}
